/*  your css code here. If applicable */
img{
	width:180px;
}
p{
	text-align:center;
}
div{
	width:200px;
	padding:20px;
	background-color:#F1F1F1;
	margin:auto;
	items-align:center;
	content:center;
}
button{
	padding:10px;
	border-radius:30px;
	background-color:#FE625A;
	color:white;
	border:0px;
}